<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PassWord Gnrtr</title>
</head>
<body>
  <div class="errormsgs">
    <p>{{Checkboxerrormsg}}</p>
    <p>{{LengthErrormsg}}</p>
  </div>
  <div class="container">
    <h1 class="heading">Password Generetor</h1>
    <div class="user-input">
      <label for="user-num">Password Length : </label>
      <input (input)="onKeyup($event)" type="number" min="1" max="20">
    </div>
    <div class="user-checkbox">
      <label for="letter">Use LowerCase Letter</label>
      <input (change)="onChangheLetter()" type="checkbox" name="letter" id="letter">
    </div>
    <div class="user-checkbox">
      <label for="letter2">Use Uppercase Letter</label>
      <input (change)="onChangheUppercase()" type="checkbox" name="letter2" id="letter2">
    </div>
    <div class="user-checkbox">
      <label for="number">Use Number</label>
      <input (change)="onchangeNumber()" type="checkbox" name="number" id="number">
    </div>
    <div class="user-checkbox">
      <label for="symbol">Use Symbol</label>
      <input (change)="onchangeSymbol()" type="checkbox" name="symbol" id="symbol">
    </div>
    <div class="button">
      <button class="btn generate-btn" (click)="btnClick()" [disabled]="!length">Generate</button>
    </div>


    <!-- ngif directive display the section based upon on truthy value; if truthy it will display it , either not; and here at the very first time our 'password' property value is an empty string so in javascript tha means falsy  -->
    <div class="output-value" *ngIf="password">
      <label>Your Password</label>
      <!-- <input [value]="password" /> -->
      <input [value]="getPassWord()" />
      <div class="copy-btn">
        <button [disabled]="!disabled" class="copy" [cdkCopyToClipboard]="copyToClipboard()" (click)="clipboardClicked()">Copy</button>
      </div>
    </div>
  </div>

  <div class="copied">{{CopyMsg}}</div>

  <!-- just displaying property as a raw text || interpellation  -->
  <!-- <h4>{{password}}</h4> -->
  <!-- <h5>{{getName()}}</h5> -->

</body>
</html>
